 img.centered {
      margin-left: auto; 
      margin-right: auto; 
    }
    
    body {
      margin-top: 100px;
      background-color: #669999; 
      background-image: linear-gradient(black,silver); 
      background-repeat: no repeat; 
      background-attachment: fixed; 
    }
    
    h1 {
      color: #fff;
      font-family: Avant Garde, sans-serif; 
    }
    
    h2 {
      color: #fff;
    }
    
    .white-text {
      color: #fff; 
    }